---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Interés Compuesto">
  <div class="relative pt-32 ml-auto">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-center dark:text-white">
        Calculadora de Interés Compuesto
      </h1>
      <div class="mt-10 flex flex-col lg:flex-row justify-evenly">
        <div
          class="w-full lg:w-3/12 flex flex-wrap justify-evenly items-center text-center"
        >
          <label for="initial-amount" class="w-full md:w-5/12 lg:w-full">
            <span
              class="block text-lg font-medium text-slate-900 dark:text-slate-100 mb-2"
            >
              Depósito inicial
            </span>
            <input
              type="number"
              id="initial-amount"
              name="initial-amount"
              class="w-full text-center text-2xl px-2 py-2 border-2 border-slate-800 rounded-lg dark:border-slate-700"
              placeholder="Monto inicial"
              inputmode="numeric"
              value="0"
            />
          </label>
          <label for="interest-rate" class="w-full md:w-5/12 lg:w-full">
            <span
              class="block text-lg font-medium text-slate-900 dark:text-slate-100 mb-2 mt-4 md:mt-0 lg:mt-4"
            >
              Tasa de interés anual
            </span>
            <input
              type="number"
              id="interest-rate"
              name="interest-rate"
              class="w-full text-center text-2xl px-2 py-2 border-2 border-slate-800 rounded-lg dark:border-slate-700"
              placeholder="Tasa de interés anual"
              inputmode="numeric"
              value="8"
            />
          </label>
          <label for="years" class="w-full md:w-5/12 lg:w-full">
            <span
              class="block text-lg font-medium text-slate-900 dark:text-slate-100 mb-2 mt-4"
            >
              Años a invertir
            </span>
            <input
              type="number"
              id="years"
              name="years"
              class="w-full text-center text-2xl px-2 py-2 border-2 border-slate-800 rounded-lg dark:border-slate-700"
              placeholder="Años"
              inputmode="numeric"
              max="100"
              value="10"
            />
          </label>
          <label for="compound-frequency" class="w-full md:w-5/12 lg:w-full">
            <span
              class="block text-lg font-medium text-slate-900 dark:text-slate-100 mb-2 mt-4"
            >
              Frecuencia anual de interés
            </span>
            <select
              id="compound-frequency"
              name="compound-frequency"
              class="w-full text-center text-2xl px-2 py-2 border-2 border-slate-800 rounded-lg dark:border-slate-700"
            >
              <option value="1">Anual</option>
              <option value="12">Mensual</option>
              <option value="24">Quincenal</option>
              <option value="52">Semanal</option>
              <option value="365">Diario</option>
            </select>
          </label>
          <label
            for="additional-contribution"
            class="w-full md:w-5/12 lg:w-full"
          >
            <span
              class="block text-lg font-medium text-slate-900 dark:text-slate-100 mb-2 mt-4"
            >
              Aportaciones adicionales
            </span>
            <input
              type="number"
              id="additional-contribution"
              name="additional-contribution"
              class="w-full text-center text-2xl px-2 py-2 border-2 border-slate-800 rounded-lg dark:border-slate-700"
              placeholder="Contribución adicional"
              inputmode="numeric"
              value="0"
            />
          </label>
        </div>
        <div class="mt-10 w-full lg:w-8/12">
          <canvas id="myChart"></canvas>
        </div>
      </div>

      <div class="mt-14 flex justify-between items-stretch">
        <div
          class="w-full flex flex-col lg:flex-row justify-center items-center lg:justify-between"
        >
          <div
            class="flex bg-slate-800 h-full w-full lg:w-1/5 rounded-xl overflow-hidden"
          >
            <div
              class="bg-[rgba(255,99,132)] w-1/12 shadow-xl shadow-[rgba(255,99,132)]"
            >
            </div>

            <div
              class="w-11/12 flex flex-col justify-center text-white ps-5 py-2 overflow-auto"
            >
              <div id="initial-amount-card" class="text-3xl font-bold">
                $0.00
              </div>
              <div class="text-lg">Depósito Inicial</div>
            </div>
          </div>

          <div
            class="flex bg-slate-800 h-full w-full lg:w-1/5 rounded-xl overflow-hidden mt-4 lg:mt-0"
          >
            <div
              class="bg-[rgba(255,205,86)] w-1/12 shadow-xl shadow-[rgba(255,205,86)]"
            >
            </div>

            <div
              class="w-11/12 flex flex-col justify-center text-white ps-5 py-2 overflow-auto"
            >
              <div id="additional-contribution-card" class="text-3xl font-bold">
                $0.00
              </div>
              <div class="text-lg">Depósitos Adicionales</div>
            </div>
          </div>

          <div
            class="flex bg-slate-800 h-full w-full lg:w-1/5 rounded-xl overflow-hidden mt-4 lg:mt-0"
          >
            <div
              class="bg-[rgba(75,192,192)] w-1/12 shadow-xl shadow-[rgba(75,192,192)]"
            >
            </div>

            <div
              class="w-11/12 flex flex-col justify-center text-white ps-5 py-2 overflow-auto"
            >
              <div id="interest-amount-card" class="text-3xl font-bold">
                $0.00
              </div>
              <div class="text-lg">Interés Acumulado</div>
            </div>
          </div>

          <div
            class="flex bg-slate-800 h-full w-full lg:w-1/5 rounded-xl overflow-hidden mt-4 lg:mt-0"
          >
            <div
              class="bg-[rgba(20,180,80)] w-1/12 shadow-xl shadow-[rgba(20,180,80)]"
            >
            </div>

            <div
              class="w-11/12 flex flex-col justify-center text-white ps-5 py-2 overflow-auto"
            >
              <div id="total-amount-card" class="text-3xl font-bold">$0.00</div>
              <div class="text-lg">Total</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
  import Chart from "chart.js/auto";

  document.addEventListener("DOMContentLoaded", function () {
    const ctx = document.getElementById("myChart");
    const initialAmountInput = document.getElementById("initial-amount");
    const interestRateInput = document.getElementById("interest-rate");
    const yearsInput = document.getElementById("years");
    const frequencyInput = document.getElementById("compound-frequency");
    const contributionInput = document.getElementById(
      "additional-contribution"
    );

    function updateChart() {
      const initialAmount = parseFloat(initialAmountInput.value);
      const interestRate = parseFloat(interestRateInput.value) / 100;
      const years = parseFloat(yearsInput.value);
      const frequency = parseFloat(frequencyInput.value);
      const contribution = parseFloat(contributionInput.value) * frequency;

      const data = {
        labels: [],
        datasets: [
          {
            label: "Capital Inicial",
            data: [],
            backgroundColor: "rgba(255, 99, 132)",
          },
          {
            label: "Contribución Adicional",
            data: [],
            backgroundColor: "rgba(75, 192, 192)",
          },
          {
            label: "Interés Acumulado",
            data: [],
            backgroundColor: "rgba(255, 205, 86)",
          },
        ],
      };

      let totalAmount = initialAmount;
      let totalInterest = 0;
      let initialContribution = initialAmount;
      let additionalContribution = 0;

      for (let year = 1; year <= years; year++) {
        let yearInterest = 0;
        let yearContribution = 0;

        for (let period = 1; period <= frequency; period++) {
          const interest = totalAmount * (interestRate / frequency);
          totalAmount += interest + contribution / frequency;
          yearInterest += interest;
          yearContribution += contribution / frequency;
        }

        totalInterest += yearInterest;
        additionalContribution += contribution;

        data.labels.push("Año " + year);
        data.datasets[0].data.push(initialContribution.toFixed(2));
        data.datasets[1].data.push(additionalContribution.toFixed(2));
        data.datasets[2].data.push(totalInterest.toFixed(2));
      }

      // Actualizar los datos en el gráfico
      myChart.data = data;
      myChart.update();

      // Función para formatear números con comas
      function formatNumber(number) {
        return number.toLocaleString("en-US", {
          style: "currency",
          currency: "USD",
        });
      }

      // Actualizar los valores en los elementos del DOM con formato de comas
      document.getElementById("initial-amount-card").innerText =
        formatNumber(initialContribution);
      document.getElementById("additional-contribution-card").innerText =
        formatNumber(contribution * years);
      document.getElementById("interest-amount-card").innerText =
        formatNumber(totalInterest);
      document.getElementById("total-amount-card").innerText =
        formatNumber(totalAmount);
    }

    // Configurar el gráfico
    const myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: [],
        datasets: [
          {
            label: "Capital Inicial",
            data: [],
            backgroundColor: "rgba(255, 99, 132)",
          },
          {
            label: "Contribución Adicional",
            data: [],
            backgroundColor: "rgba(75, 192, 192)",
          },
          {
            label: "Interés Acumulado",
            data: [],
            backgroundColor: "rgba(255, 205, 86)",
          },
        ],
      },
      options: {
        responsive: true,
        scales: {
          x: {
            stacked: true,
          },
          y: {
            stacked: true,
          },
        },
      },
    });

    // Llamar a updateChart para inicializar el gráfico
    updateChart();

    // Agregar los eventos para actualizar el gráfico cuando cambien los inputs
    initialAmountInput.addEventListener("input", updateChart);
    interestRateInput.addEventListener("input", updateChart);
    yearsInput.addEventListener("input", updateChart);
    frequencyInput.addEventListener("change", updateChart);
    contributionInput.addEventListener("input", updateChart);
  });
</script>
